body {
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 200px;
  border-bottom: 1px black solid;
  margin: 0px;
  padding: 30px;
}

#grid ol {
  border-right: 1px black solid;
  width: 100px;
  height: 150px;
  margin: 0;
  padding: 30px;
  padding-right: 5px;
  color: blue;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;

}

#contant {
  padding-left: 1px;
  padding-top: 10px;
}
@media(max-width:400px){
#grid {
  display: block;
}
#grid ol{
  border-right: none;
}
h1{
  border-bottom: none;
}
}